<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
    <title>Size</title>

    <link rel="stylesheet" href="https://kudoabhijeet.com/new.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
    <div class="bg text-center">
        <!--Div for Centered Text & Input-->
        <div class="centered">
         				<br><br><br><br><br><br>
                <p class="firstLine"> <strong>Results</strong> </p>
                <br>
                <p style="color:white;font-size:30px;"><strong>Estimated Sizes</strong></p>
                
                <table style="width:100%" border = "1" cellpadding = "10">
								<tr>
									<th><p style="color:white;font-size:15px;"><strong>Parameters</strong></p></th>
									<th><p style="color:white;font-size:15px;"><strong>T-shirt</strong></p></th>
									<th><p style="color:white;font-size:15px;"><strong>Jeans</strong></th>
									<th><p style="color:white;font-size:15px;"><strong>Dress</strong></th>
								</tr>
								<tr>
									<td><p style="color:white;font-size:15px;"><strong>US</strong></td>
									<td><p style="color:white;font-size:15px;"><strong>{{ size_us_t }}</strong></td>
									<td><p style="color:white;font-size:15px;"><strong>{{ size_us_j }}</strong></td>
									<td><p style="color:white;font-size:15px;"><strong>{{ size_us_d }}</strong></td>
								</tr>
								<tr>
									<td><p style="color:white;font-size:15px;"><strong>EU</strong></td>
									<td><p style="color:white;font-size:15px;"><strong>{{ size_eu_t }}</strong></td>
									<td><p style="color:white;font-size:15px;"><strong>{{ size_eu_j }}</strong></td>
									<td><p style="color:white;font-size:15px;"><strong>{{ size_eu_d }}</strong></td>
								</tr>
							</table>
 								<br>
								<p style="color:white;font-size:15px;"><strong>Try uploading images with plain background, better lighting and tight-fitted clothes for better results</strong></p>
        </div>
    </div>

</body>
</html>
